@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
header,
footer,
section,
nav,
ul,
li,
aside,
p,
ol,
dl,
dt,
dd,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    color: #333;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #333;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}