@charset "UTF-8";

/* reset */
html,
body,
ul,
li,
div,
header,
main,
section,
aside,
footer {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.inner {
    width: 1194px;
    margin: 0 auto;
}

/* #wrap */
#wrap {}


/* header */
header {
    background: #222;
    color: #fff;
}

header a {
    color: #fff;
    font-size: 1rem;
}

header>#gnb_wrap {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    height: 100px;
    padding: 0 40px;
    font-weight: normal;
}

#gnb_wrap>.logo {
    display: flex;
    height: 42px;
    margin-right: 30px;
    cursor: pointer;
}

#gnb_wrap>.logo>img {
    width: 160px;
}

#gnb_wrap>.logo>span {
    padding-top: 2px;
}

#gnb_wrap>.logo>span::before {
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background: #fff;
    margin: 8px 12px;
    float: left;
}

#gnb_wrap>.gnb {
    display: flex;
    flex-flow: wrap row;
}

#gnb_wrap>.gnb .gnb_item {
    padding: 0 30px;
}

#gnb_wrap>.gnb .gnb_item a {}

#gnb_wrap>.gnb .gnb_item a>span {}

#gnb_wrap>.gnb .gnb_item:last-child a {
    float: left;
}

#gnb_wrap>.gnb .gnb_item:last-child a:last-child>span::before {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background: #fff;
    margin: 5px 8px;
    float: left;
}

#gnb_wrap>.sign {
    display: flex;
    flex-flow: wrap row;
    margin-left: auto;
}

#gnb_wrap>.sign li {}

#gnb_wrap>.sign li a {}

#gnb_wrap>.sign li a span {}

#gnb_wrap>.sign li:last-child a span::before {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background: #fff;
    margin: 5px 8px;
    float: left;
}


/* main */
main {
    width: 100%;
    background: #222;
    padding: 0 40px 40px;
    position: relative;
}

main>.main_control_box {
    z-index: 10;
    position: absolute;
    top: 160px;
    left: calc(12% + 32px);
}

main .main_control {
    display: flex;
    align-items: center;
}

main .main_control .slide_page {}

main .main_control .slide_page.current {
    font-size: 2rem;
    font-weight: bold;
    color: #A40033;
}

main .main_control .slide_page.total {
    font-size: 1.5rem;
    margin-right: 4px;
}

@keyframes progress{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

main .main_control .slide_progress {
    position: relative;
    width: 230px;
    height: 2px;
    background: #000;
    margin: 0 4px;
}

main .main_control .slide_progress .progress_bar{
    position: absolute;
    height: 2px;
    background: #A40033;
}

main .main_control .slide_progress .progress_bar.active{
    animation: 3s ease-in infinite progress;
}

main .slide_nav {
    display: flex;
    margin-top: 2px;
}
main .slide_nav li .ico{
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

main .slide_nav .btn_prev {
    background: url(../img/keyboard_arrow_left_24px_outlined.png)no-repeat center center;
}

main .slide_nav .btn_play {
    background: url(../img/pause_24px_outlined.png)no-repeat center center;
}

main .slide_nav .btn_play.pause {
    background: url(../img/play_arrow_24px_outlined.png)no-repeat center center;
}

main .slide_nav .btn_next {
    background: url(../img/keyboard_arrow_right_24px_outlined.png)no-repeat center center;
}

main>.main_slide_wrap {}

main .slide {}

main .slide .slide_item {
    background: #fff;
    height: 720px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main .slide #sd_01 {
    background-image: url(../img/main_slide_01.jpg);
}

main .slide #sd_02 {
    background-image: url(../img/main_slide_02.jpg);
}

main .slide #sd_03 {
    background-image: url(../img/main_slide_03.jpg);
}

main .slide #sd_04 {
    background-image: url(../img/main_slide_04.jpg);
}

main .box_txt {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(0, -50%);
    word-break: keep-all;
}

main .box_txt .subtit {
    font-size: 1.5rem;
    font-weight: normal;
}

main .box_txt .tit {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
}

main .box_txt .btn_more {
    margin-top: 32px;
    width: 180px;
    height: 48px;
    background: #A40033;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
}

main .box_txt .btn_more:hover {
    background: #F41977;
}

main .box_txt .btn_more .txt_btn {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: -.125rem;
}


/* section.rental */
section.rental {
    position: relative;
    overflow-X: hidden;
}

.rental .owl-stage {
    padding: 20px 0;
}

.rental .owl-nav {
    width: 100%;
    position: absolute;
    top: 46.5%;
}

.rental .owl-nav button {
    width: 56px;
    height: 56px;
    background: #fff !important;
    border-radius: 60px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.rental .owl-nav button span {
    display: inline-block;
    width: 18px;
    height: 28px;
    font-size: 0;
}

.rental .owl-prev {
    position: absolute;
    left: 40px;
}

.rental .owl-prev:focus {
    outline: 0 none;
}

.rental .owl-prev span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-56%, -50%);
    background: url(../img/ico_content_left.png);
}

.rental .owl-next {
    position: absolute;
    right: 40px;
}

.rental .owl-next:focus {
    outline: 0 none;
}

.rental .owl-next span {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(56%, -50%);
    background: url(../img/ico_content_right.png);
}

.rental .slide {}

.rental .slide_item_first {
    padding-top: 104px;
    margin-right: 20px;
    color: #fff;
}

.rental .slide_item_first .si_tit {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
}

.rental .slide_item_first .si_desc {
    padding-top: 2rem;
    font-weight: normal;
    font-size: 1rem;
}

@keyframes float_red {
    from {
        transform: translateY(0%) rotate(0);
    }

    to {
        transform: translateY(-10%) rotate(2deg);
    }
}

@keyframes float_yel {
    from {
        transform: translateY(0%) rotate(0);
    }

    to {
        transform: translateY(8%) rotate(-4deg);
    }
}

@keyframes float_blue {
    from {
        transform: translateY(0%) rotate(0);
    }

    to {
        transform: translateY(12%) rotate(-2deg);
    }
}

.rental .card_box {
    position: relative;
    height: 380px;
}

.rental .card_box .si_card_red {
    position: absolute;
    z-index: 4;
    animation: 1.2s ease-in-out infinite alternate float_red;
}

.rental .card_box .si_card_yel {
    position: absolute;
    z-index: 3;
    top: 120px;
    animation: 1s ease-in-out infinite alternate float_yel;
}

.rental .card_box .si_card_blue {
    position: absolute;
    z-index: 2;
    top: 186px;
    animation: 1.4s ease-in-out infinite alternate float_blue;
}

.rental .si_notice {
    font-size: .75rem;
    font-weight: normal;
    color: #999;
    padding-top: 40px;
}

.rental .slide_item {
    padding: 48px 24px 24px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 5px 24px rgba(170, 170, 170, 0.25);
}

.rental .product_img {
    width: 300px;
    height: 220px;
}

.rental .product_name {
    margin-top: 45px;
}

.rental .pn_name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.rental .pn_num {
    display: inline-block;
    padding-top: 8px;
    color: #bbb;
    font-size: 1rem;
}

.rental .product_price {
    margin-top: 32px;
}

.rental .pp_tit {
    font-size: 1rem;
    font-weight: bold;
}

.rental .pp_price {
    font-size: 2rem;
    color: #F41977;
}

.rental .pp_notice {
    font-size: .75rem;
    color: #aaa;
}

.rental .affiliated_card {
    margin-top: 32px;
}

.rental .ac_tit {
    font-size: 1rem;
    font-weight: bold;
}

.rental #ac_card {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    display: block;
    width: 100%;
    padding: .8rem 1rem;
    margin-top: 8px;
}

.rental option {
    zoom: 1.2;
}

.rental .ac_discount {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.rental .ac_max_disc {}

.rental .ac_mon_charge {}

.rental .ac_mon_charge::before {
    content: "";
    margin: 6px 8px;
    display: block;
    float: left;
    width: 1px;
    height: 13px;
    background: #333;
}

.rental .btn_more {
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: #A40033;
    border-radius: 60px;
    text-align: center;
    transition: all .5s;
}

.rental .btn_more:hover {
    background: #F41977;
}

.rental .btn_more .txt_btn {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 58px;
}

.rental .rt_bg {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #222;
    top: 0;
    z-index: -99;
}


/* section.banner */
section.banner {
    padding-top: 100px;
}

.banner .owl-dots {
    text-align: center;
}

.banner .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: #f0f0f0;
    border-radius: 10px;
}

.banner .owl-dots .owl-dot.active {
    background: #bbb;
}

.bn_slide_wrap {}

.bn_slide_wrap .bn_slide {}

.bn_slide .slide_item {
    position: relative;
    background: #ccc;
    height: 360px;
    border-radius: 30px;
    padding: 60px 0 0 100px;
}

.bn_slide #bn_slide_01 {
    background: url(../img/main_info01.jpg)no-repeat center center /cover;
}

.bn_slide #bn_slide_02 {
    background: url(../img/main_info02.jpg)no-repeat center center /cover;
}

.bn_slide #bn_slide_03 {
    background: url(../img/main_info02.jpg)no-repeat center center /cover;
}

.bn_slide .slide_item .tit {
    font-size: 2rem;
    margin-bottom: 8px;
}

.bn_slide .slide_item .desc {
    width: 60%;
    word-break: keep-all;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.bn_slide .slide_item .btn_more {
    cursor: pointer;
    margin-top: 24px;
    width: 180px;
    height: 48px;
    background: #A40033;
    text-align: center;
    border-radius: 48px;
    transition: all .5s;
}

.bn_slide .slide_item .btn_more:hover {
    background: #F41977;
}

.bn_slide .slide_item .btn_more span {
    color: #fff;
    line-height: 46px;
    font-size: 1.5rem;
}


/* section.contents */
section.contents {
    padding-top: 150px;
}

.contents .inner {
    display: flex;
}

.contents .tit_wrap {
    display: flex;
}

.contents .tit {
    font-size: 2rem;
    margin-bottom: 48px;
}

.contents .btn_more {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 48px;
    margin-top: 2px;
    margin-left: 32px;
    font-weight: normal;
    font-size: 1.5rem;
    color: #A40033;
    border: 1px solid #A40033;
    border-radius: 48px;
    padding: 0 13px 0 26px;
    cursor: pointer;
}

.contents .btn_more span {
    margin-top: -1px;
}

.contents .btn_more .ico {
    margin-top: 1px;
    margin-left: 4px;
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/keyboard_arrow_right_24px_red_outlined.png') no-repeat center center;
}

.contents .review {
    margin-right: 30px;
    width: 50%;
}

.contents .review .rv_wrap {}

.contents .review .rv_inner {
    display: flex;
    margin-bottom: 30px;
}

.contents .review .rv_inner:last-child {
    margin-bottom: 0;
}

.contents .review .rv_wrap .rv_inner .rv {
    overflow: hidden;
    margin-right: 30px;
    width: 50%;
    height: 280px;
    border-radius: 30px;
    background: #bbb;
    cursor: pointer;
}

.contents .review .rv_wrap .rv_inner .rv:nth-child(2n) {
    margin-right: 0;
}

.contents .review .rv_wrap .rv_inner .rv_01 {
    background: url(../img/main_review_bg01.jpg)no-repeat center center /cover;
}

.contents .review .rv_wrap .rv_inner .rv_02 {
    background: url(../img/main_review_bg02.jpg)no-repeat center center /cover;
}

.contents .review .rv_wrap .rv_inner .rv_03 {
    background: url(../img/main_review_bg03.jpg)no-repeat center center /cover;
}

.contents .review .rv_wrap .rv_inner .rv_04 {
    background: url(../img/main_review_bg04.jpg)no-repeat center center /cover;
}

.contents .rv_wrap .rv_info {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity .3s;
}

.contents .rv:hover .rv_info {
    opacity: 1;
}

.contents .rv_wrap .rv_info span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
}

.contents .videos {
    width: 50%;
}

.contents .videos .vd {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
    border-radius: 30px;
    background: #bbb;
    margin-bottom: 30px;
}

.contents .videos .vd:last-child {
    margin-bottom: 0;
}

.contents .videos .vd .ico {
    position: absolute;
    right: -56px;
    bottom: -56px;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 160px;
    background: url(../img/video_library_24px_outlined.png)no-repeat 40px 36px;
    background-color: rgba(0, 0, 0, 0.42);
}

.contents .videos .vd_01 {
    background: url(../img/video_01.jpg)no-repeat center center/cover;
}

.contents .videos .vd_02 {
    background: url(../img/video_02.jpg)no-repeat center center/cover;
}


/* section.services */
section.services {
    padding: 120px 0;
}

.services .inner {
    display: flex;
}

.services .svc {
    flex: 1;
    margin-right: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 10px 24px rgba(170, 170, 170, 0.25);
    padding: 64px 40px 50px;
}

.services .svc:last-child {
    margin-right: 0;
}

.services .svc .ico {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-bottom: 32px;
}

.services .svc .ico.ico_01 {
    background: url('../img/ico_newp.png') no-repeat center center #c4c4c4;
}

.services .svc .ico.ico_02 {
    background: url('../img/ico_hands.png') no-repeat center center #c4c4c4;
}

.services .svc .ico.ico_03 {
    background: url('../img/ico_existing.png') no-repeat center center #c4c4c4;
}

.services .svc_txt_01 {
    line-height: 1.5rem;
    margin-bottom: 16px;
}

.services .svc_txt_02 {
    color: #555;
}

.services .svc_num {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 64px;
}

.services .svc_tit {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.services .btn_more {
    cursor: pointer;
    text-align: center;
    margin-top: 45px;
    width: 100%;
    height: 60px;
    background: #A40033;
    border-radius: 60px;
    transition: all .5s;
}

.services .btn_more:hover {
    background: #F41977;
}

.services .btn_more span {
    font-size: 1.5rem;
    line-height: 58px;
    color: #fff;
}


/* section.notice */
section.notice {
    background: #eee;
}

.notice .inner {
    display: flex;
    align-items: center;
    height: 80px;
}

.notice .inner span {
    font-weight: bold;
}

.notice .inner p {
    margin-left: 86px;
    font-size: .9rem;
    color: #555;
}


/* footer */
footer {
    padding: 56px 0;
    background: #222;
    color: #bbb;
    font-size: .75rem;
}

footer .inner {
    display: flex;
    justify-content: space-between;
}

footer .left .ft_list {
    display: flex;
    margin-bottom: 32px;
}

footer .left .ft_list .ft_item {}

footer .left .ft_list .ft_item a {
    color: #eee;
}

footer .left .ft_list .ft_item a::after {
    content: "";
    display: block;
    float: right;
    width: 1px;
    height: 10px;
    margin: 5px 6px;
    background: #bbb;
}

footer .left .ft_list .ft_item:last-child a::after {
    content: none;
}

footer .right {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-end;
}

footer .right .family {
    width: 160px;
    height: 32px;
    border: 1px solid #555555;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}

footer .right .family .txt {
    line-height: 30px;
    vertical-align: top;
    margin-left: 42px;
}

footer .right .family .ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/keyboard_arrow_up_24px.png) no-repeat center center;
    vertical-align: top;
    position: absolute;
    right: 4px;
    top: 3px;
}

footer .right .certified {
    display: flex;
    align-items: center;
}

footer .right .certified .cf_img {}

footer .right .certified .cf_txt {
    text-align: right;
}

footer .right .certified .cf_txt p {}


footer .inner.copy {
    justify-content: space-between;
    margin-top: 32px;
}