@charset "UTF-8";

/* reset */
html,
body,
ul,
li,
div,
header,
main,
section,
aside,
footer {
    box-sizing: border-box;
}

html, body{
    font-family: 'Noto Sans KR', sans-serif;
}

.inner{
    min-width: 1194px;
    margin: 0 auto;
}

/* #wrap */
#wrap {}