@charset "UTF-8";

/* reset */
body,
div,
header,
footer,
section,
aside,
h1,
h2,
h3,
h4,
h5,
p,
nav,
ul,
li,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}


/* #wrap */
#wrap {
    min-width: 1400px;
    margin: 0 auto;
}

.inner {
    width: 1400px;
    margin: 0 auto;
}


/* header */
header {
    height: 80px;
}

header .logo {
    float: left;
    padding-top: 15px;
}

header nav {
    float: right;
}

header .nav_list {
    font-size: 0;
    margin-top: 26px;
}

header .nav_list .nav_item {
    display: inline-block;
    font-size: 18px;
    line-height: 1.6;
}

header .nav_list .nav_item .nav_link {
    display: block;
    padding: 0 20px;
}

header .nav_list .nav_item .nav_link::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0%;
    height: 1px;
    background: #333;
    transition: width .5s, opacity .1s;
}

header .nav_list .nav_item:hover .nav_link::after {
    opacity: 1;
    width: 100%;
}


/* #slider */
#slider {}

#slider>.inner .slide_list_wrap {}

#slider>.inner .slide_list {
    position: relative;
}

#slider>.inner .slide_item {}

#slider>.inner .slide_img {
    width: 100%;
}

#slider .owl-dots {
    margin: 0 auto;
    text-align: center;
}

#slider .owl-dots .owl-dot {}

#slider .owl-dots .owl-dot span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 6px;
    background: #e9e9e9;
}

#slider .owl-dots .owl-dot.active span {
    background: #222;
}

#slider .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 2rem;
}

#slider .owl-nav button {
    outline: 0 none;
}

#slider .owl-nav button span {
    display: inline-block;
    line-height: 52px;
    width: 60px;
    height: 60px;
    vertical-align: top;
    background: rgb(0, 0, 0, .2);
    color: #fff;
    transition: background .5s, color .5s;
}

#slider .owl-nav .owl-prev {
    position: absolute;
    left: 0;
}

#slider .owl-nav .owl-prev:hover span {
    background: rgba(255, 255, 255, 1);
    color: #222;
}

#slider .owl-nav .owl-next {
    position: absolute;
    right: 0;
}

#slider .owl-nav .owl-next:hover span {
    background: rgb(255, 255, 255, 1);
    color: #222;
}


/* #content */
#content {
    margin: 100px 0;
}

#content>.inner {}

#content>.inner .left {
    width: 40%;
    float: left;
    color: #27251f;
}

#content .left .subtitle {
    font-size: 20px;
}

#content .left .maintitle {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-top: 20px;
}

#content .left .btn {
    display: block;
    width: 200px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    margin-top: 40px;
    border: 1px solid #27251f;
}

#content .left .btn:hover {
    background: #27251f;
    color: #fff;
}

:root {
    --slide_item_mright: 20px;
}

#content>.inner .right {
    margin-right: calc(var(--slide_item_mright) * -1);
    width: 56%;
    float: right;
}

#content>.inner .right .newitem {}

#content .right .newitem .newitem_slide_wrap {}

.newitem .slide_list {
    position: relative;
}

.newitem .owl-nav {
    width: 100%;
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
}

.newitem .owl-nav button:focus {
    outline: 0 none;
}

.newitem .owl-nav button span {
    font-size: 2rem;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 32px;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, .1);
    transition: all .5s;
}

.newitem .owl-nav button:hover span {
    background: #27251f;
}

.newitem .owl-nav .owl-prev {
    position: absolute;
    left: 0;
}

.newitem .owl-nav .owl-next {
    position: absolute;
    right: 20px;
}

.newitem_slide_wrap .slide_list .slide_item {
    position: relative;
    border: 1px solid #ddd;
    margin-right: var(--slide_item_mright);
    overflow: hidden;
    height: 244px;
}

.newitem_slide_wrap .slide_list .slide_item::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 40px;
    line-height: 244px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(152, 203, 255, .7);
    opacity: 0;
    transition: all .5s;
}

.newitem_slide_wrap .slide_list .slide_item:hover::after {
    opacity: 1;
}

.newitem_slide_wrap .slide_list .slide_item .slide_img {
    margin-top: -24px;
}

.newitem_slide_wrap .slide_list .slide_item p {
    position: absolute;
    bottom: 32px;
    font-size: 12px;
    line-height: 34px;
    left: 50%;
    transform: translateX(-50%);
}

.newitem_slide_wrap .slide_list .slide_item p span {
    border-bottom: 1px solid #27251f;
    padding-bottom: 10px;
}


/* .collection */
section.collection {
    margin-top: 160px;
    text-align: center;
}

.colletction .title {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -1px;
}

.collection .newlist {}

.collection .owl-nav {
    width: 100%;
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
}

.collection .owl-nav button:focus {
    outline: 0 none;
}

.collection .owl-nav button span {
    font-size: 2rem;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 32px;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, .1);
    transition: all .5s;
}

.collection .owl-nav button:hover span {
    background: #27251f;
}

.collection .owl-nav .owl-prev {
    position: absolute;
    left: 0;
}

.collection .owl-nav .owl-next {
    position: absolute;
    right: 20px;
}

.collection .newlist li {}

.collection .newlist li img {}


/* twice */
.twice {
    color: #27251f;
    margin-top: 120px;
    text-align: center;
}

.twice>.inner>p {
    font-size: 20px;
}

.twice>.inner>h2 {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-top: 20px;
}

.twice>.inner>a {
    margin-top: 24px;
    display: inline-block;
    padding: 8px 0;
    border-bottom: 1px solid #27251f;
}

.twice>.inner>a span {
    font-size: 14px;
}

.twice>.inner .tw_list {
    text-align: center;
    margin-top: 100px;
}

.twice .owl-nav {
    width: 100%;
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
}

.twice .owl-nav button:focus {
    outline: 0 none;
}

.twice .owl-nav button span {
    font-size: 2rem;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 52px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 8px 8px #ddd, 0px 8px 20px #f0f0f0;
    color: #27251f;
    background: #fff;
    transition: all .5s;
}

.twice .owl-nav button:hover span {
    background: #27251f;
    color: #fff;
}

.twice .owl-nav .owl-prev {
    position: absolute;
    left: -40px;
}

.twice .owl-nav .owl-next {
    position: absolute;
    right: -40px;
}

.twice>.inner .tw_list .tw_item {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin: 0 10%;
}

.twice>.inner .tw_list .tw_item img {
    padding-top: 280px;
    width: 100%;
    display: block;
}

.twice>.inner .tw_list #item01 {
    background: url(../img/bg01.jpg) no-repeat center -200px;
}

.twice>.inner .tw_list #item02 {
    background: url(../img/bg02.jpg) no-repeat center -200px;
}

.twice>.inner .tw_list #item03 {
    background: url(../img/bg03.jpg) no-repeat center -200px;
}

.twice>.inner .tw_list #item04 {
    background: url(../img/bg01.jpg) no-repeat center -200px;
}

.twice>.inner .tw_list #item05 {
    background: url(../img/bg02.jpg) no-repeat center -200px;
}

.twice>.inner .tw_list #item06 {
    background: url(../img/bg03.jpg) no-repeat center -200px;
}

.twice>.inner .tw_list .tw_item .txt {}

.twice>.inner .tw_list .tw_item .txt p {
    font-size: 12px;
    line-height: 1.8;
    margin: 5px 0;
}

.twice>.inner .tw_list .tw_item .txt a {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #27251f;
    transition: all .5s;
}

.twice>.inner .tw_list .tw_item .txt a:hover {
    background: #27251f;
    color: #fff;
}


.twice .te_item .photo {}

.twice .te_item .txt {}


/* footer */
footer {}