@charset "UTF-8";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd,
table,
td,
th {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

header,
div,
footer,
aside,
section,
nav,
ul,
li {
    border: 1px solid red;
}

/* top */
#wrap {}

.inner {
    width: 960px;
    margin: 0 auto;
}

header {
    width: 960px;
    margin: 0 auto;
    height: 80px;
}

header .logo {
    float: left;
    margin-top: 25px;
}

header .top-menu {
    float: right;
    margin-top: 35px;
}

header .top-menu li {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #ddd;
    padding-right: 5px;
}


header .top-menu li:last-child {
    border-right: 0;
    padding-right: 0;
}

header .top-menu li a {
    color: #888;
}


/* nav */
#main-menubox {
    background: #0b2972;
    border-bottom: 1px solid #ffb400;
    height: 30px;
}

.gnb {
    width: 960px;
    margin: 0 auto;
    font-size: 0;
}

.gnb li {
    width: 20%;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.gnb li a {
    color: #fff;
}

.gnb li:hover {
    background: #ffb400;
}


/* slider */
#slider {
    width: 1400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.sbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 2802px;
    font-size: 0;
}

.sbox li {
    width: 1400px;
    float: left;
}

.sbox li img {
    width: 100%;
    display: block;
}


/* content */
#content {
    width: 960px;
    margin: 30px auto 60px;
}

#content>section {
    height: 180px;
    float: left;
}

#content>section h3 {
    margin-bottom: 10px;
}

#content>section h3 span {
    color: #0b2972;
}

.notice {
    width: 270px;
}

.notice .list {
    font-size: 12px;
    color: #888;
}

.notice .list li {
    line-height: 2;
    border-bottom: 1px solid #eee;
    background: url(../img2/main_listblet.gif) no-repeat left center;
    padding-left: 10px;
}

.notice .list li span {
    float: right;
}

.product {
    width: 360px;
    margin: 0 25px;
}

.product .imgbox {}

.product .imgbox img {
    width: 100%;
    display: block;
}

.business {
    width: 270px;
    font-size: 12px;
    line-height: 1.8;

}

.business dl dt {
    background: #0b2972;
    color: #fff;
    padding-left: 10px;
}

.business dl dd {
    background: #ffb400;
    color: #0b2972;
    padding-left: 10px;
}

footer {
    height: 80px;
    background: #f7f7f7;
    border-top: 2px solid #555;
    padding: 15px 0;
    font-size: 12px;
}

footer .inner {
    width: 960px;
    margin: 0 auto;
}

footer ul{
    margin-bottom: 10px;
}

footer ul li{
    display: inline-block;
    font-weight: bold;
    color: #333;
}

footer p{
    color: #888;
}