@charset "UTF-8";

#wrap {
    min-width: 1480px;
    margin: 0 auto;
}

header {
    width: 1480px;
    height: 110px;
    margin: 0 auto;
    border-bottom: solid 1px #e1e1e1;
    box-sizing: border-box;
    position: relative;
}

header .logo {
    text-align: center;
    height: 110px;
}

header .logo a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .top_menu {
    position: absolute;
    top: 65px;
    right: 0;
    font-size: 0;
}

header .top_menu li {
    display: inline-block;
    font-size: 16px;
}

header .top_menu li a {
    color: #0a1923;
    padding: 0 12px;
    position: relative;
}

header .top_menu li:first-child a {
    padding-left: 0;
}

header .top_menu li:last-child a {
    padding-right: 0;
}

header .top_menu li:first-child a::before {
    display: none;
}

header .top_menu li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 10px;
    border-left: 1px solid #ccc;
    margin-top: -2px;
}

header .top_menu li:hover a {
    text-decoration: underline;
}

.side_quick_link {
    position: absolute;
    top: 156px;
}

.side_quick_link ul {
    padding-top: 35px;
}

.side_quick_link ul li {}

.side_quick_link ul li a{
	position: relative;
	display: block;
	width: 120px;
	font-size: 0.813em;
	padding: 10px 10px 10px 22px;
	background-color: rgba(255,255,255,.6);
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.side_quick_link ul li a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 3px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

.side_quick_link ul li a.art_bank:before {
    background-color: #c70774
}

.side_quick_link ul li a.residency:before {
    background-color: #fe6d02
}

.side_quick_link ul li a.archive:before {
    background-color: #00bff3
}

.side_quick_link ul li a.children:before {
    background-color: #fdb813
}

.side_quick_link ul li a.stroy:before {
    background-color: #14e413
}

.side_quick_link ul li a:hover,
.side_quick_link ul li a:focus {
    width: 160px;
    color: #fff;
    text-align: right;
    text-decoration: underline;
    background-color: #0a1923
}

.side_quick_link ul li a span {}

nav {
    width: 1480px;
    height: 46px;
    margin: 0 auto;
    position: relative;
    border-bottom: solid 1px #e1e1e1;
    overflow: hidden;
}

.nav_lang {
    float: left;
    line-height: 40px;
}

.nav_lang a {
    font-size: 11px;
}

.nav_lang button {
    background: none;
    border: none;
    font-size: 11px;
    color: red;
    margin-left: 16px;
}

.nav_lang .fas {
    font-size: 12px;
    transform: translateY(1px);
    padding-left: 8px;
}

.nav_search {
    cursor: pointer;
}

.nav_search span {
    font-weight: 700;
    color: #444;
}

.nav_search .fab {
    font-size: 17px;
    padding-left: 16px;
    color: #444;
}

.gnb {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
}

.gnb .gnb_item {
    display: inline-block;
    line-height: 45px;
    font-size: 1.125rem;
    font-weight: 400;
}

.gnb .gnb_item a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #222;
    margin-top: -1px;
    opacity: 0;
    transition: all .5s ease;
}

.gnb .gnb_item:hover a::after {
    opacity: 1;
}

.gnb .gnb_item a {
    display: inline-block;
    padding: 0 60px;
    color: #222;
}

.nav_search {
    float: right;
    line-height: 45px;
}

#slider {
    width: 1480px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider img {
    width: 100%;
}

.slide_item{
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.5s;
    opacity: 0;
    z-index: 0;
}

.slide_item.showing{
    opacity: 1;
    z-index: 1;
}

#content {}

#content>.schedule {
    width: 1480px;
    margin: 0 auto;
}

#content>.schedule ul {
    display: flex;
    padding: 20px 0;
    margin-top: 60px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

#content>.schedule ul li {
    flex: 1;
    padding: 0 25px;
    border-right: 1px solid #e1e1e1;
}

#content>.schedule ul li:last-child {
    border-right: 0;
}

#content>.schedule ul li dl {}

#content>.schedule ul li dl dt {
    font-size: 1.5rem;
    font-weight: bold;
}

#content>.schedule ul li dl dt a.gwacheon {
    color: #11541F;
}

#content>.schedule ul li dl dt a.seoul {
    color: #f1473a;
}

#content>.schedule ul li dl dt a.deoksugung {
    color: #d12773;
}

#content>.schedule ul li dl dt a.cheongju {
    color: #008fcb;
}

#content>.schedule ul li dl dd {
    margin-top: 10px;
}

#content>.schedule ul li dl dd>span:first-child::after {
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #e0ac4e;
}

#content>.collection {
    width: 1480px;
    margin: 0 auto;
}

#content>.collection>.col_tit {
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

#content>.collection>.col_tit span {
    border-top: 1px solid #0a1923;
    padding: 10px 1px 0;
}

#content>.collection>div .poster_list {
    font-size: 0;
}

.poster_list li {
    display: inline-block;
    width: calc((100% - 6%)/4);
    margin-right: 2%;
    padding: 30px 15px 20px;
    background: #fafafa;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: border .5s;
}

.poster_list li:hover {
    border: 1px solid #ddd;
}

.poster_list li:last-child {
    margin-right: 0;
}

.poster_list li a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.poster_list li a img {
    width: 100%;
    transition: transform .5s;
}

.poster_list li:hover a img {
    transform: scale(1.1);
}

.poster_list li .poster_txt {
    font-size: 1rem;
    margin-top: 30px;
    padding-left: 8px;
}

.poster_txt>.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.poster_txt>.date {
    line-height: 1.6;
    color: #777;
}

.poster_txt>.writer {
    line-height: 1.6;
    color: #777;
}

#content>.banner {
    width: 1480px;
    margin: 0 auto;
    margin-top: 150px;
}

#content>.banner .banner_area {
    float: left;
    width: 49%;
}

.banner_area .banner_list_wrap {
    height: 197px;
    background: #f5f5f5;
    overflow: hidden;
    border: 1px solid #f5f5f5;
    position: relative;
}

.banner_list_wrap .banner_list {
    position: absolute;
    left: 0;
    width: 300%;
    font-size: 0;
    transition: all .5s ease;
}

.banner_list_wrap .banner_list li {
    width: 33.333333%;
    display: inline-block;
}

.banner_list_wrap .banner_list li img {
    width: 100%;
}

.banner_ctrl {
    margin-top: 8px;
    padding-left: 8px;
}

#content>.banner .quick_area {
    float: right;
    width: 49%;
    height: 199px;
    background: #f5f5f5;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.quick_list {}

.quick_list li {
    display: block;
    border-bottom: 1px solid #000;
    padding: 8px 0 6px 60px;
}

.quick_list li:hover a {
    text-decoration: underline;
}

.quick_list li a {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: -18px;
}

.quick_list li a:focus {
    outline: 0 none;
}

.quick_list li a .fas {
    padding-left: 8px;
}

#content>.newsletter {
    margin: 150px 0 100px;
}

#content>.newsletter .title {
    text-align: center;
}

.newsletter_box {
    width: 684px;
    margin: 30px auto;
    border: 1px solid #0a1923;
    overflow: hidden;
}

.newsletter_box input {
    padding: 21px 24px 20px;
    width: 500px;
    border: none;
    color: #8e8e8e;
}

.newsletter_box input:focus {
    outline: 0 none;
}

.newsletter_box button {
    width: 130px;
    padding: 19px 16px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    cursor: pointer;
    border-left: 1px solid #0a1923;
}

.newsletter_box button:focus {
    outline: 0 none;
}

.newsletter_box button span {}

.newsletter_box button i {}

footer {
    height: 100px;
}

.btm_menu_box01 {}

.btm_menu01 {
    text-align: center;
}

.btm_menu01 li {
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
}

.btm_menu01 li:hover a {
    text-decoration: underline;
}

.copy_box {
    border-top: 1px solid #e1e1e1;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0 0 0;
}

.copy_box h5 {}

.copy_box .company {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.6;
}

.copy_box .company .ceo {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
}

.copy_box .company .ceo::after {
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translate(0, -46%);
    height: 12px;
    border-right: 1px solid #c5a76b;
}

.copy_box .company .number {}

.copy_box .copyright {
    font-size: 14px;
    line-height: 1.6;
}

.footer_sns {
    padding: 10px 0;
}

.footer_sns ul {
    text-align: center;
}

.footer_sns ul li {
    display: inline-block;
    padding: 0 10px;
}

.btm_menu_box02 {}

.btm_menu_box02 ul {
    text-align: center;
    padding-bottom: 60px;
    font-size: .9rem;
}

.btm_menu_box02 ul li {
    display: inline-block;
    padding: 0 15px;
}

.btm_menu_box02 ul li a span {
    padding: 2px;
    border-bottom: 1px solid #333;
}

.icon_sns {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.icon_sns a {
    display: inline-block;
    padding: 10px;
}

.top {
    position: fixed;
    bottom: 120px;
    right: 60px;
    border: 1px solid #0a1923;
    text-align: center;
    background: #fff;
    z-index: 10;
    display: none;
}

.top:hover {
    background: #0a1923;
}

.top:hover a {
    color: #fff;
}

.top a {
    display: block;
    padding: 14px 20px;
}