@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
header,
footer,
section,
nav,
ul,
li,
aside,
p,
ol,
dl,
dt,
dd,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    color: #333;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #333;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.inner {
    width: 1130px;
    margin: 0 auto;
}

/* #header */



/* #content */



/* footer */
footer {
    margin-top: 50px;
    border-top: 1px solid #e4e8eb;
    background: #FAFBFC;
}

.bn-sm-wrap {
    display: flex;
    padding: 24px 0;
    font-size: .75rem;
}

.bn-sm {
    flex: 1;
    display: flex;
    height: 86px;
    margin-right: 40px;
    cursor: pointer;
}

.bn-sm:last-child {
    margin-right: 0;
}

.bn-sm:hover .bn-sm-img-01,
.bn-sm:hover .bn-sm-img-02,
.bn-sm:hover .bn-sm-img-03 {
    background-size: 120%;
}

.bn-sm:hover .bn-sm-txt>span:nth-of-type(2){
    text-decoration: underline;
}

.bn-sm-img-01,
.bn-sm-img-02,
.bn-sm-img-03 {
    width: 160px;
    height: 86px;
    transition: all .5s;
}

.bn-sm-img-01 {
    background: url('../img/naver04.jpg') no-repeat center center/100%;
}

.bn-sm-img-02 {
    background: url('../img/naver05.jpg') no-repeat center center/100%;
}

.bn-sm-img-03 {
    background: url('../img/naver06.jpg') no-repeat center center/100%;
}

.bn-sm-txt {
    display: flex;
    flex-flow: wrap column;
    padding: 2px 0 0 16px;
}

.bn-sm-txt span:nth-of-type(1) {
    color: #58c464;
    font-weight: bold;
}

.bn-sm-txt span:nth-of-type(2) {
    font-size: .8125rem;
    font-weight: bold;
    margin-top: 6px;
}

.bn-sm-txt p {
    margin-top: 8px;
}

.notice{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px solid #e4e8eb;
    font-size: .75rem;
    font-weight: bold;
}