@charset "UTF-8";


/* #wrap */
#wrap {
    position: relative;
    overflow: hidden;
    min-width: 1100px;
    background: #f2f4f7;
}

.inner {
    width: 1080px;
    margin: 0 auto;
}


/* #header */
#header {
    background: #fff;
    border-bottom: 1px solid #d1d8e4;
}

#header>.inner {
    position: relative;
    height: 130px;
    width: 1080px;
    margin: 0 auto;
}

.area-logo {
    position: absolute;
    left: 0;
    top: 40px;
}

.area-logo h1 {}

.area-logo h1 a {
    display: block;
}

.area-logo h1 a .naver-logo {
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    width: 198px;
    height: 48px;
    background: url(../img/sp_search.svg) no-repeat -4px -4px;
}

.area-link {
    position: absolute;
    right: 0;
    top: 11px;
}

.area-link .al-fav {
    height: 21px;
    color: #888;
    font-size: 11px;
    line-height: 22px;
    padding: 0;
}

.area-link .al-fav .al-bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ebeef3;
    margin: 0 3px;
}

.area-link a {
    display: block;
    float: left;
    padding: 5px;
}

.area-link a .al-ico {
    display: block;
    background: url(../img/sp_main.png) no-repeat;
    /* 아이콘 스프라이트를 공통으로 적용하고 각 요소에서 포지션을 지정 */
}

.area-link .al-jr .al-ico {
    background-position: 0 -157px;
    width: 58px;
    height: 11px;
}

.area-link .al-jr:hover .al-ico {
    background-position: -87px -120px;
}

.area-link .al-hb .al-ico {
    background-position: -143px -94px;
    width: 34px;
    height: 11px;
}

.area-link .al-hb:hover .al-ico {
    background-position: -155px -120px;
}

.area-search {
    position: absolute;
    left: 219px;
    top: 50%;
    margin-top: -20px;
    width: 521px;
}

.area-search .green-window {
    border: 2px solid #19ce60;
    border-radius: 2px;
    background: #fff;
    display: inline-block;
    width: 470px;
    height: 45px;
}

.area-search .green-window .input-txt {
    margin: 12px 0 0 9px;
    width: 405px;
    height: 23px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.area-search .green-window .sch-btn {
    width: 49px;
    height: 49px;
    background: #03cf5d;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.area-search .green-window .sch-btn .ico-search {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: url(../img/sp_search.svg) no-repeat 8px -50px;
    margin-left: 2px;
}


/* #navbar */
#navbar {
    position: relative;
    border-top: 1px solid #f1f3f6;
    background: #fff;
    height: 46px;
}

.area-navigation {
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

.area-navigation .an-item {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 8px;
}

.area-navigation .an-1 {
    float: left;
    padding: 13px 0 0 0;
}

.area-navigation .an-1 .an-item:first-child {
    padding-left: 0;
}

.area-navigation .an-1 .an-item a .an-txt {
    color: #00ab33;
}

.area-navigation .an-2 {
    float: left;
    padding: 12px 0 0 0;
}

.area-navigation .an-2 .an-item a .an-txt {
    color: #333;
}

.area-navigation .an-bar {
    float: left;
    width: 1px;
    height: 15px;
    background: #ebeef3;
    margin: 16px 10px 0 9px;
}

.area-navigation .an-btn-more {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0 0 4px;
}

.area-navigation .an-roll {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 198px;
    height: 20px;
    margin-top: -5px;
}

.an-roll .ar-1 {}

.an-roll .ar-1 .ar-item {}

.an-roll .ar-1 .ar-item .ar-data {
    display: block;
    color: #000;
}

.an-roll .ar-1 .ar-item .ar-data .ar-r {
    color: #00ab33;
    font-size: 16px;
    font-weight: bold;
}

.an-roll .ar-1 .ar-item .ar-data .ar-k {
    width: 140px;
    letter-spacing: -1px;
    font-size: 14px;
    margin-left: 5px;
}

.an-roll .ico-open {
    width: 11px;
    height: 6px;
    display: block;
    background: url(../img/sp_main.png) no-repeat -200px -78px;
    position: absolute;
    right: 0;
    top: 8px;
}


/* #content */
#content {
    width: 1080px;
    margin: 0 auto;
    text-align: left;
    padding: 8px 10px 0;
}

#content .left {
    width: 740px;
    height: 500px;
    float: left;
}

.top-banner {
    height: 119px;
    border: 1px solid #dee3eb;
    overflow: hidden;
}

.top-banner img {
    width: 100%;
}

.news-cast {}

.area-news-top {
    background: #fff;
    height: 40px;
    border: 1px solid #dee3eb;
    margin-top: 8px;
}

.area-news-top .cast-flash {
    position: relative;
    padding: 11px 0 0 16px;
    height: 44px;
}

.cast-flash .cf-tit {
    float: left;
}

.cast-flash .cf-tit .cf-ta {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    letter-spacing: -1px;
    display: block;
    width: 70px;
    margin-top: -1px;
}

.cast-flash .cf-tit .cf-ta .ico-cflink {
    background: url(../img/sp_main.png) no-repeat -200px -112px;
    width: 6px;
    height: 10px;
    display: block;
    float: right;
    margin-top: 4px;
}

.cast-flash .cast-act {
    float: left;
    margin-left: 7px;
}

.cast-flash .cast-link {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -18px;
}

.cast-flash .cast-link .cl-link {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    letter-spacing: -1px;
    padding: 0 5px;
}

.cast-flash .cast-link .cl-link:first-child a {
    color: #00ab33;
}

.area-news-stand {
    background: #fff;
    border: 1px solid #dee3eb;
    height: 244px;
    position: relative;
    margin-top: 8px;
}

.an-menu-list {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #dee3eb;
}

.an-tit {
    position: absolute;
    top: 0;
    left: 0;
    padding: 14px 0 0 16px;
}

.an-tit a {
    color: #000;
    display: block;
}

.an-menu-list-section1 {
    position: absolute;
    top: 0;
    left: 105px;
    padding: 13px 0;
}

.an-menu-list-section1 .an-sort {}

.an-menu-list-section1 .an-sort .an-bar {
    width: 1px;
    height: 15px;
    background: #ebeef3;
    float: left;
    margin: 2px 15px 0;
}

.an-menu-list-section1 .an-sort a {
    display: block;
    float: left;
}

.an-menu-list-section2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
}

.an-sort2 {
    float: left;
}

.an-sort2 a {
    display: block;
    width: 18px;
    height: 18px;
    margin: 14px 16px;
    float: left;
}

.as-btn01 {
    background: url(../img/sp_newscast_v180511.png) no-repeat -228px -124px;
}

.as-btn02 {
    background: url(../img/sp_newscast_v180511.png) no-repeat 0 -193px;
}

.as-btn03 {
    background: url(../img/sp_newscast_v180511.png) no-repeat -28px -193px;
}

.an-paging {
    height: 44px;
    float: left;
}

.an-paging .ap-list {
    border-left: 1px solid #dee3eb;
    float: left;
    height: 44px;
    overflow: hidden;
}

.an-paging .ap-list a {
    display: block;
    width: 44px;
    height: 44px;
}

.an-paging .ap-list a .ico-img {
    width: 8px;
    height: 16px;
    display: block;
    margin: 16px 18px;
    background: url(../img/sp_newscast_v180511.png) no-repeat -254px -24px;
}

.an-paging .ap-list:last-child a .ico-img {
    background: url(../img/sp_newscast_v180511.png) no-repeat -102px -193px;
    /* 스프라이트를 이용해 로딩을 최소화 하는 방법 */
}

.an-panel-img {}

.api-list-wrap {
    height: 200px;
}

.api-list {
    position: relative;
    overflow: hidden;
    height: 199px;
}

.api-list .ap-item {
    width: 122px;
    height: 24px;
    float: left;
    padding: 21px 0 22px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
}

.api-list .ap-item .api-link {
    display: block;
    height: 100%;
    text-align: center;
}

.api-list .ap-item .api-link .api-logo {
    height: 24px;
}

#content .right {
    width: 332px;
    position: relative;
    float: right;
}

.section-login {
    background: #fff;
    border: 1px solid #dee3eb;
    height: 119px;
}

.rg-local {
    padding: 15px 25px;
}

.rg-local p {
    color: #888;
    font-size: 12px;
    line-height: 14px;
}

.rg-local .rg-local-btn {
    display: block;
    width: 280px;
    height: 37px;
    margin-top: 12px;
    background: url(../img/sp_login_v180727.png) no-repeat 0 -47px;
}

.rg-local .rg-link {
    margin-top: 12px;
}

.rg-local .rg-link .rg-link-join {
    color: #666;
    float: right;
}

.rg-local .rg-link .rg-link-id {
    color: #666;
}

.rg-local .rg-link .rg-link-pw {
    color: #666;
}

.timesquare {
    border: 1px solid #dee3eb;
    background: #fff;
    margin: 8px 0;
}

.section-timesquare {
    position: relative;
}

.area-header {
    position: relative;
    height: 32px;
    border-bottom: 1px solid #ebeef3;
    padding-left: 15px;
}

.area-header .header-info {
    display: inline-block;
    padding: 8px 0 0;
    width: 150px;
}

.header-info a {
    display: block;
    float: left;
}

.header-info a .hi-dnum {
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    color: #000;
}

.header-info a .hi-day {
    margin-left: 3px;
    font-size: 13px;
    line-height: 16px;
    vertical-align: top;
}

.header-info .an-bar {
    float: left;
    width: 1px;
    height: 15px;
    background: #ebeef3;
    margin: 2px 8px 0;
}

.header-info .hi-tit {
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    font-weight: normal;
}

.header-info .hi-tit .ico-link {
    display: block;
    float: right;
    width: 6px;
    height: 10px;
    background: url(../img/sp_main.png) no-repeat -200px -112px;
    margin: 2px 0 0 10px;
}

.area-header .header-paging {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 78px;
    color: #888;
    font-size: 12px;
    line-height: 12px;
}

.header-paging .hp-curr {
    color: #666;
}

.area-header .header-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.header-btn a {
    display: block;
    float: left;
    padding: 9px 0 11px;
    text-align: center;
    width: 33px;
    height: 12px;
    border-left: 1px solid #dee3eb;
    overflow: hidden;
}

.header-btn a .ico-link {
    width: 8px;
    height: 16px;
    background: url(../img/sp_newscast_v180511.png) no-repeat;
    display: block;
    margin-left: 12px;
}

.header-btn a:first-of-type .ico-link {
    background-position: -254px -24px;
}

.header-btn a:last-of-type .ico-link {
    background-position: -102px -193px;
}

.area-ct {
    padding: 22px 15px 14px;
}

.ac-content {}

.ac-content li {
    font-size: 12px;
    line-height: 16px;
    color: #222;
    padding-bottom: 5px;
}

.ac-content em {
    color: #2565d0;
}

.ac-content .ac-tt {}

.ac-content .ac-st {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
}

.ac-content .ac-pt {}

.branding {
    border: 2px solid #dee3eb;
    box-sizing: border-box;
}

.branding img {
    width: 100%;
}

.group_goods {
    position: relative;
    background: #fff;
    border: 1px solid #dee3eb;
    padding: 55px 7px 14px;
    margin-top: 8px;
}

.group_goods .shop_control {
    position: absolute;
    top: 12px;
    right: 8px;
}

.shop_control .num_box {
    line-height: 29px;
    float: left;
    color: gray;
}

.num_box .current {
    color: #202020;
    font-weight: 700;
    margin-right: 4px;
}

.shop_control .btn_box {
    float: left;
    overflow: hidden;
    margin-left: 7px;
}

.btn_box .btn {
    float: left;
    border: 1px solid #dee3eb;
    background: #fff;
    display: block;
}

.btn_box .btn_prev {}
.btn_box .btn_next {}

.btn_box .btn_prev::before,
.btn_box .btn_next::before {
    background: url(../img/sp_newscast_v180511.png) no-repeat;
}

.btn_box .btn_prev::before {
    display: inline-block;
    width: 8px;
    height: 16px;
    margin: 7px 13px 7px 11px;
    content: '';
    vertical-align: top;
    background-position: -254px -24px;
}

.btn_box .btn_next::before {
    display: inline-block;
    width: 8px;
    height: 16px;
    margin: 7px 11px 7px 13px;
    content: '';
    vertical-align: top;
    background-position: -102px -193px;
}

.list_goods_wrap {}

.list_goods_wrap .list_goods {
    margin-top: -18px;
}

.list_goods .goods_item {
    float: left;
    width: 102px;
    margin: 18px 5px 0 0;
}

.list_goods .goods_item:nth-child(3n) {
    margin-right: 0;
}

.goods_item .goods_area {}

.goods_area .thumb_box {
    position: relative;
    overflow: hidden;
}

.goods_area .thumb_box .thumb_bd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #000;
    opacity: .08;
}

.goods_area .thumb_box img {
    width: 100%;
    transition: all .3s;
}

.goods_area:hover img {
    transform: scale(1.1);
}

.goods_area .title_box{
    margin-top: 9px;
}

.goods_area .title_box span{
    text-align: center;
    display: block;
}

.goods_area:hover span{
    text-decoration: underline;
}

.group_goods .shop_page{
    margin-top: 17px;
    text-align: center;
}

.shop_page .num_box{
    display: inline-block;
    min-width: 80px;
    line-height: 29px;
    vertical-align: top;
    color: gray;
}

.shop_page .btn{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #dee3eb;
    background: #fff;
}

.shop_page .btn_prev::before,
.shop_page .btn_next::before {
    background: url(../img/sp_newscast_v180511.png) no-repeat;
}

.shop_page .btn_prev::before {
    display: inline-block;
    width: 8px;
    height: 16px;
    margin: 7px 13px 7px 11px;
    content: '';
    vertical-align: top;
    background-position: -254px -24px;
}

.shop_page .btn_next::before {
    display: inline-block;
    width: 8px;
    height: 16px;
    margin: 7px 11px 7px 13px;
    content: '';
    vertical-align: top;
    background-position: -102px -193px;
}

/* footer */
footer {
    margin-top: 50px;
    border-top: 1px solid #e4e8eb;
    background: #FAFBFC;
}

.bn-sm-wrap {
    display: flex;
    padding: 24px 0;
    font-size: .75rem;
}

.bn-sm {
    flex: 1;
    display: flex;
    height: 86px;
    margin-right: 40px;
    cursor: pointer;
}

.bn-sm:last-child {
    margin-right: 0;
}

.bn-sm:hover .bn-sm-img-01,
.bn-sm:hover .bn-sm-img-02,
.bn-sm:hover .bn-sm-img-03 {
    background-size: 120%;
}

.bn-sm:hover .bn-sm-txt>span:nth-of-type(2) {
    text-decoration: underline;
}

.bn-sm-img-01,
.bn-sm-img-02,
.bn-sm-img-03 {
    width: 160px;
    height: 86px;
    transition: all .5s;
}

.bn-sm-img-01 {
    background: url('../img/naver04.jpg') no-repeat center center/100%;
}

.bn-sm-img-02 {
    background: url('../img/naver05.jpg') no-repeat center center/100%;
}

.bn-sm-img-03 {
    background: url('../img/naver06.jpg') no-repeat center center/100%;
}

.bn-sm-txt {
    display: flex;
    flex-flow: wrap column;
    padding: 2px 0 0 16px;
}

.bn-sm-txt span:nth-of-type(1) {
    color: #58c464;
    font-weight: bold;
}

.bn-sm-txt span:nth-of-type(2) {
    font-size: .8125rem;
    font-weight: bold;
    margin-top: 4px;
}

.bn-sm-txt p {
    margin-top: 6px;
}

.notice {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px solid #e4e8eb;
    font-size: .75rem;
    font-weight: bold;
}