@charset "UTF-8";


/* #wrap */
#wrap {}

.inner {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}


/* header */
header {
    height: 104px;
    background: #1a1f71;
    border-bottom: 4px solid #f7b600;
}

header .inner {
    height: 100px;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 125px;
}

header .logo img {
    width: 100%;
}

header .main_menu {}

.gnb {
    font-size: 0;
}

.gnb .mg_item {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.gnb .mg_item:last-child {
    margin-left: 12px;
}

.gnb .mg_item .mg_link {
    display: block;
    color: #fff;
    padding: 12px 20px;
}

.gnb .mg_item:hover .mg_link {
    color: #f7b600;
}


.gnb .mg_item .ico_search {
    background: none;
    border: none;
    padding: 11px 0 10px 0;
}

.gnb .mg_item .ico_search span {
    border-left: 1px solid #fff;
    padding-left: 32px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/search.jpg) no-repeat right center;
}


/* #slider */
#slider {
    height: 500px;
    background: url(../img/marquee-visahotdeals-1600x900.jpg) no-repeat center /cover;
}

.caption {
    width: 320px;
    height: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    top: 70px;
    left: 50px;
    color: #1a1f71;

}

.caption h2 {
    font-size: 42px;
    margin-bottom: 24px;
}

.caption p {
    line-height: 1.6;
}

.caption .btn {
    display: inline-block;
    padding: 12px 20px;
    background: #1a1f71;
    color: #fff;
    position: absolute;
    bottom: 30px;
    transition: all .5s;
}

.caption .btn:hover {
    background: #f7b600;
    color: #1a1f71;
    font-weight: bold;
}


/* #content */
#content {}

#content .con_menu {
    height: 60px;
}

#content>.inner {}

#content>.inner section {}

#content>.inner .hotdeal {}

#content>.inner .store {}

#content>.inner .card {}


/* footer */
footer {}