@charset "UTF-8";


/* #wrap */
#wrap {}

.inner {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.btn_top{
    position: fixed;
    right: 20px;
    bottom: 20px;
}


/* header */
header {
    height: 104px;
    background: #1a1f71;
    border-bottom: 4px solid #f7b600;
}

header .inner {
    height: 100px;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 125px;
}

header .logo img {
    width: 100%;
}

header .main_menu {}

.gnb {
    font-size: 0;
}

.gnb .mg_item {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.gnb .mg_item:last-child {
    margin-left: 12px;
}

.gnb .mg_item .mg_link {
    display: block;
    color: #fff;
    padding: 12px 20px;
}

.gnb .mg_item:hover .mg_link {
    color: #f7b600;
}


.gnb .mg_item .ico_search {
    background: none;
    border: none;
    padding: 11px 0 10px 0;
}

.gnb .mg_item .ico_search span {
    border-left: 1px solid #fff;
    padding-left: 32px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/search.jpg) no-repeat right center;
}


/* #slider */
#slider {
    height: 500px;
    background: url(../img/marquee-visahotdeals-1600x900.jpg) no-repeat center /cover;
}

.caption {
    width: 320px;
    height: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    top: 70px;
    left: 50px;
    color: #1a1f71;

}

.caption h2 {
    font-size: 42px;
    margin-bottom: 24px;
}

.caption p {
    line-height: 1.6;
}

.caption .btn {
    display: inline-block;
    padding: 12px 20px;
    background: #1a1f71;
    color: #fff;
    position: absolute;
    bottom: 30px;
    transition: all .5s;
}

.caption .btn:hover {
    background: #f7b600;
    color: #1a1f71;
    font-weight: bold;
}


/* #con_menu */
#top_menu_wrap {
    z-index: 999;
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    top: 0;
    width: 100%;
    height: 63px;
    border-bottom: 1px solid #dedede;
}

#top_menu_wrap .top_menu {
    height: 100%;
    width: 1140px;
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.top_menu .tm_item {}

.top_menu .tm_item .tm_link {
    display: inline-block;
    padding: 20px 0 16px;
    transition: all .5s;
    border-bottom: 3px solid #fff;
    color: #1a1f71;
}

.top_menu .tm_item:hover .tm_link {
    border-bottom: 3px solid #f7b600;
}

.top_menu .tm_item .tm_link span {
    padding: 0 30px;
    border-left: 1px solid #dedede;
}

.top_menu .tm_item .tm_link span:last-child {
    border-right: 1px solid #dedede;
}


/* #content */
#content {}

#content>.inner {}

#content>.inner section {
    padding: 40px 0;
    border-bottom: 1px solid #dedede;
}

#content>.inner .hotdeal {
    text-align: center;
}

#content>.inner .hotdeal h2 {
    font-size: 40px;
    font-weight: normal;
    color: #1a1f71;
    margin-bottom: 10px;
    position: relative;
}

#content>.inner .hotdeal h2::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin: 0 auto;
    background-color: transparent;
    transition: all .5s;
}

#content>.inner .hotdeal h2:hover::after {
    width: 180px;
    background-color: #f7b600;
}

#content>.inner .hotdeal p {}

#content>.inner .store {
    text-align: center;
}

#content>.inner .store h2 {
    font-size: 40px;
    font-weight: normal;
    color: #1a1f71;
    margin-bottom: 10px;
    position: relative;
}

#content>.inner .store h2::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin: 0 auto;
    background-color: transparent;
    transition: all .5s;
}

#content>.inner .store h2:hover::after {
    width: 200px;
    background-color: #f7b600;
}

#content>.inner .store .st_list {}

.st_list .st_item {
    display: inline-block;
    width: 32%;
    border: 1px solid #dedede;
    margin: 10px 5px 0;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.st_list .st_item .st_link {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 204px;
}

.st_list .st_item .st_link .st_img {
    width: 100%;
}

.st_item .imgtxt {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.st_item:hover .imgtxt {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    background: rgba(247, 182, 0, .8);
    color: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.st_item .imgtxt h4 {
    font-size: 24px;
    filter: drop-shadow(2px 2px 5px #7a5a00);
}

.st_item .imgtxt p {
    font-size: 16px;
}


#content>.inner .card {
    text-align: center;
}

#content>.inner .card h2 {
    margin: 0 auto;
    width: 360px;
    font-size: 40px;
    font-weight: normal;
    color: #1a1f71;
    margin-bottom: 10px;
    position: relative;
}

#content>.inner .card h2::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: transparent;
    transition: all .5s;
}

#content>.inner .card h2:hover::after {
    width: 360px;
    background-color: #f7b600;
}

.card .card_list {
    display: flex;
    flex-flow: wrap row;
    padding-top: 20px;
}

.card_list .card_item {
    width: 32%;
    margin-right: 30px;
    flex: 1;
}

.card_list .card_item:last-child {
    margin-right: 0;
}

.card_list .card_item .card_link {}

.card_link .card_imgbox {
    overflow: hidden;
    height: 200px;
}

.card_imgbox img {
    width: 100%;
    transition: all .5s;
}

.card_item:hover .card_imgbox img {
    transform: scale(1.2);
}

.card_item:hover .card_link p {
    text-decoration: underline #dedede;
}

.card_link h3 {
    font-size: 32px;
    font-weight: normal;
    color: #1a1f71;
    text-align: left;
    margin: 16px 0 8px;
}

.card_link p {
    text-align: left;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}


/* footer */
footer {
    background: #F7F7F7;
}

footer .sitemap {
    display: flex;
    flex-flow: wrap row;
    padding: 60px 0;
    border-bottom: 1px solid #dedede;
}

footer .sitemap>dl {
    flex: 1;
    padding: 0 16px;
}

footer .sitemap>dl dt {
    font-size: 24px;
    margin-bottom: 16px;
}

footer .sitemap>dl dt a{
    color: #1a1f71;
}

footer .sitemap>dl dd {
    margin-bottom: 8px;
}

footer .sitemap>dl dd a{
    color: #555;
}

footer .copy {
    padding: 40px 0;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;
}

footer .copy img {
    width: 240px;
}